/* common_general_rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* /common_general_rules */

/* utility */
.flex_row {
	display: flex;
}

.flex_column {
	display: flex;
	flex-direction: column;
}
/* /utility */

/* main */
/* .container_major */
.container_major {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container_major img {
	width: 100%;
	height: 100%;
}

.container_show {
	width: 80%;
}

.side_right {
	width: 20%;
}

.row {
	height: 100%;
}

.card {
	height: calc(100% / 5);
	position: relative;
}

#button_up,
#button_down {
	position: absolute;
	font-size: 13px;
	left: 42%;
}

#button_up,
#button_down i {
	filter: invert(1);
}

#button_up,
#button_down:hover {
	cursor: pointer;
}

#button_up {
	top: 10%;
}

#button_down {
	bottom: 10%;
}
/* /.container_major */
/* main */
